body{
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{
    background: #EEF9BF;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #75B79E;
}
/*---------------------------------------------------*/
ul{
    height: 326px;
    width: 872px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
}
li{
    width: 117px;
    height: 146px;
    background-color:#A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.papagaio{
    width: 100px;
}
